*{
    margin: 0;
    padding: 0;
}
.main-con{
    width: 100%;
    height: 100%
}

header{
    width: 100%;
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.brand{
    align-items: center;
}
main{
    position: relative;
    height: 90%;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   
}



.display{
    overflow-y: hidden;
    height: 73vh;
    margin: 0 10px 0 10px;
   

    
}

form{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sender{
    color: #3A6073;
}


.message{
    max-width: 50%;
    margin: 10px 0;
    color: white;
    position: relative;
    border-radius: 5px;
}

.sent {
    justify-content: flex-end;
    background-color: rgb(58, 251, 65);
    display: flex;
    justify-content: center;
    align-items: start;
    left: 48vw;
    
    
  }
  
  .recived {
    justify-content: flex-start;
    background-color: rgb(11, 148, 228);
    color: white;
  }
form input {
    width: 100%;
    height: 10vh;
   margin: 0 7px 7px 7px;
   text-align: center;
    
}
#avatar{
    width: 40px;
    border-radius: 12px;
}
#logo{
    width: 80px;
}
.welcome{
    height: 100vh;
    text-align: center;
    align-self: center;
    font-size: xx-large;
    color: #E7E9BB;
}

.sign-in{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Media Query for Phones */
@media screen and (max-width: 768px) {
    header {
        height: 8vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .brand {
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #respo{
        display: none;
    }

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh ;
    }
    
    #logo {
        width: 30px;
    }
   
   
    form input {
        height: 2vh;
        width: 80vw;
    }
}